:80 {
    # Reverse proxy for frontend
    handle /api/* {
        reverse_proxy api:8000
    }

    handle /docs* {
        reverse_proxy api:8000
    }

    handle /openapi.json {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy web:3000
    }

    log {
        output stdout
        format console
    }
}
